@using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
{
    <div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
        <div>
            <div style="width:100%;height:100%">
                <canvas id="mChart1" style="padding: 0;margin: auto;display: block; "> </canvas>
            </div>
        </div>
    </div>
    <div Style="font-family: Corbel; font-size: small ;text-align:center; " class="row">
        <div>
        </div>
        <div>
        </div>
    </div>

}


   @section Scripts {
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
   
   <script>

            $.ajax({
                type: "POST",
                url: "/Gestao/Gestao/GraficoVendasPorCategoria",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (myData) {
                    var dt1 = {
                        datasets: [{
                            data: myData.myCount
                            ,backgroundColor: ['red','green','blue','yellow', 'orange','cyan','black','magenta','purple','gray']
                            }],
                            labels: myData.mylabels
                    };

                    var ctx = $("#mChart1").get(0).getContext("2d");
                    var myNewChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: dt1,
                        options: {
                            responsive: true,
                            title: { display: true, text: 'Vendas por categoria' },
                            legend: { position: 'bottom' },
                        }
                    });
                }
            });
</script>
}
