/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ff6a00;
    /*height: 100%;*/
    min-height: calc(100vh - 112px);
}

/* Set black background color, white text and some padding */
/*footer {
    background-color: #555;
    color: white;
    padding: 15px;
}*/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        min-height: calc(100vh - 56px);
        /*height: 100hv;*/
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

footer {
    position: absolute;
    background-color: #555;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}