@model EstadoViewModel

<div class="row">    
    <div class="col-md-3 col-6"><strong>Loja</strong><br />@Model.LojaNome</div>
    <div class="col-md-3 col-6"><strong>Ponto de venda</strong><br />@Model.PosNome</div>
    <div class="col-md-3 col-6"><strong>Utilizador</strong><br />@Model.UtilizadorNome</div>
    <div class="col-md-3 col-6"><strong>Sessão</strong><br />@Model.SessaoData</div>
</div> 
