@{
    ViewData["Title"] = "Sobre";
}
<div class="jumbotron jumbotron-fluid" style="margin-top:100px">
  <div class="container">
    <h1 class="display-4">Gandalf</h1>
    <p>Projecto de uma aplicação de ponto de venda</p>
    <p>Desnvolvida no ambito do curso de Full Stack Developer 21/22 na Galileu / Rumos.</p>
    <p>2022 - Luis Ponciano</p>
  </div>
</div>